################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MokkiApp2.0/MokkiApp/.vs/MokkiApp/FileContentIndex/0df909cd-a7fd-4ed5-9eaa-9ed6d5cfe293.vsidx
/MokkiApp2.0/MokkiApp/.vs/MokkiApp/DesignTimeBuild/.dtbcache.v2
/MokkiApp2.0/MokkiApp/.vs/MokkiApp/FileContentIndex/b7642820-369e-4521-adc9-b82bc7f887c0.vsidx
/MokkiApp2.0/MokkiApp/.vs/MokkiApp/FileContentIndex/e5a56218-1ae2-4967-963f-70b8865f0cd2.vsidx
/MokkiApp2.0/MokkiApp/.vs/MokkiApp/FileContentIndex/3f1aa716-5670-4bf1-8109-d166dbda1de5.vsidx
/MokkiApp2.0/MokkiApp/.vs/MokkiApp/FileContentIndex/41f2c47f-4fb6-4aff-a204-f61fa6521b09.vsidx
/MokkiApp2.0/MokkiApp/.vs/MokkiApp/FileContentIndex/527b2085-bf12-4a47-83f5-3b05f5d83f8e.vsidx
